html{
    font-family: 'Nunito';
}

body{
    background-color: #130f0d;
    color: white;
    margin: 0;
}
.boards{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* margin: none; */
}
.board{
    background: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;
    margin: 0 16px;
}

h3{
    padding: 16px;
    margin: 0;
    color: #FD951Fcc;
}

.dropzone{
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card{
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    background: #1a1a1c;
}
.status{
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;

}
.status.green{
    background: #19ce40;
}
.status.blue{
    background: #33adff;
}
.status.red{
    background: red;
}